{% extends 'company/base.html'%}
{% block title %} Add Product {% endblock title %}
{%block content %}
<center><h3>Add Product</h3></center>
    {% if warning %}

    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            {{warning}}
        </div>
    </div>

    {% endif %}

    {% if massage %}
        <center>
        <h3>{{massage}}</h3>
        </center>

    {% else  %}
        <form method="POST" enctype="multipart/form-data"> <!--enctype="multipart/form-data" ถ้าไม่ใส่ อัปโหลดรูปไม่ได้ -->
            {% csrf_token %}

            <div class="form-group">
                <label for="title" >Product Name</label>
                <input type="text" class="form-control" id="title"  name="title"  required>
            </div><br>

            <div class="form-group">
                <label for="description"> Description</label>
                <textarea type="text" class="form-control" id="description" name="description" rows="5" placeholder="ดินสอราคา 300000 ที่สามาถรทำให้ท่านเขียนได้โดยไม่ต้องใช้มือจับ"></textarea>
            </div><br>

            <div class="form-group">
                <label for="price" >Price</label>
                <input type="text" class="form-control" id="price"  name="price" required >
            </div><br>

            <div class="form-group">
                <label for="quantity" >Quantity</label>
                <input type="text" class="form-control" id="quantity"  name="quantity" value="1" >
            </div><br>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="instock" name="instock" id="instock" >
                <label class="form-check-label" for="instock">
                    มีใน stock หรือไม่? 
                </label>
            </div><br>

            <div class="form-group">
                <label for="picture"> รูปภาพที่เกี่ยวข้อง</label>
                <input type="file" class="form-control" id="picture"  name="picture" >
            </div><br>

            <div class="form-group">
                <label for="specfile"> spec File</label>
                <input type="file" class="form-control" id="specfile"  name="specfile" >
            </div><br>

            <center>
            <button type="submit" class="btn btn-primary">Add Product</button>
            </center>
        </form>
    {% endif %}

{% endblock content %}