{% extends 'company/base.html'%}
{% load static %}
{% block title %} สวัสดีจ้า {% endblock title %}
{%block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  {% if user.profile.usertype == 'vip' %}
    <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ สำหรับ VIP </h1>
    <p class="fs-5 text-muted"> โปรโมชั่นพิเศษ สำหรับผู้ซื้อไอโพน ในวันที่ 31 กุมพาพันธ์ 20%</p>
  {% elif user.profile.usertype == 'member'%}
    <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ สำหรับ member เท่านั้น</h1>
    <p class="fs-5 text-muted"> โปรโมชั่นพิเศษ สำหรับผู้ซื้อไอโพน ในวันที่ 31 กุมพาพันธ์ 15%</p>
  {% elif user.profile.usertype == 'vvip'%}
    <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ สำหรับ VVIP เท่านั้น</h1>
    <p class="fs-5 text-muted"> โปรโมชั่นพิเศษ สำหรับผู้ซื้อไอโพน ในวันที่ 31 กุมพาพันธ์ 50%</p>
  {% else %}
    <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ</h1>
    <p class="fs-5 text-muted"> โปรโมชั่นพิเศษ สำหรับผู้ซื้อไอโพน ในวันที่ 31 กุมพาพันธ์ 10%</p>
  {% endif %}
</div>
<div class="d-flex flex-column justify-content-center"> <!--กัสแก้ให้-->
  <img src="{% static 'image/iphone.png' %}" alt ="My image">
  <a href="{% static 'stats.py' %}" download>Dowload stats.py</a>
</div>

<center>
  {% for pd in allproduct %}
    <h1>{{pd.title}}</h1>
    <p>
      รายละเอียด : {{pd.description}}<br>
      ราคา {{pd.price}} บาท <br>
      เหลือในสต็อก : {{pd.quantity}}
    </p>
  <hr>
  {% endfor %}
    

</center>


    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Iphone 13 Pro max</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">9,900<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Iphone 13 Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">8,000<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Iphone 13 </h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">7,000<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">สั่งซื้อ</button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}


  