{% extends 'company/base.html'%}
{% load static %}
{% block title %} W.computer {% endblock title %}
{%block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  {% if user.profile.usertype == 'vip' %}
    <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ สำหรับ VIP </h1>
    <p class="fs-5 text-muted"> โปรโมชั่นพิเศษ สำหรับผู้ซื้อNotebook ลด  20%</p>
  {% elif user.profile.usertype == 'member'%}
    <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ สำหรับ member เท่านั้น</h1>
    <p class="fs-5 text-muted"> โปรโมชั่นพิเศษ สำหรับผู้ซื้อNotebook ลด 15%</p>
  {% elif user.profile.usertype == 'vvip'%}
    <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ สำหรับ VVIP เท่านั้น</h1>
    <p class="fs-5 text-muted"> โปรโมชั่นพิเศษ สำหรับผู้ซื้อNotebook ลด 50%</p>
  {% else %}
    <h1 class="display-4 fw-normal">โปรโมชั่นพิเศษ</h1>
    <p class="fs-5 text-muted"> โปรโมชั่นพิเศษ สำหรับผู้ซื้อNotebook ลด 10%</p>
  {% endif %}
</div>
<center>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/PYPcG0eoAt4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>>
<div class="d-flex flex-column justify-content-center"> <!--กัสแก้ให้-->
  <img src="{% static 'image/laptop.png' %}" alt ="My image"><br>
  <a href="{% static 'stats.py' %}" download>Dowload stats.py</a>
</div>


<center>
  {% for pd in allproduct %}
    <h1>{{pd.title}}</h1>
    <p>
      รายละเอียด : {{pd.description}}<br>
      ราคา {{pd.cost}} บาท <br>
      เหลือในสต็อก : {{pd.quantity}}
    </p>
  <hr>
  {% endfor %}
    

</center>


    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Acer Core i 5 gen 1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">4,900<small class="text-muted fw-light">/เครื่อง</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>RAM 4.0 GB </li>
              <li>จอ 14""</li>
              <li>HDD 500 GB</li>
              <li>NEW Battery การ์ดจอแยก 1 GB</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">BUY</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">HP Core i5</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">4,900<small class="text-muted fw-light">/เครื่อง</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>RAM 4.0 GB</li>
              <li>จอ 14""</li>
              <li>HDD 320 GB</li>
              <li>NEW Battery การ์ดจอแยก 1 GB</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">BUY</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">DELL Core i5</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">4,900<small class="text-muted fw-light">/เครื่อง</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>RAM 4.0 GB</li>
              <li>จอ 14""</li>
              <li>HDD 320 GB</li>
              <li>NEW Battery การ์ดจอแยก 1 GB</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">BUY</button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}


  