    {% extends 'company/base.html'%}
    {% block title %} Change password {% endblock title %}
    {%block content %}

    <center>
        <h1>Reset Password</h1>
    </center>
    {% if massage %}
        <center>
        <h3>{{massage}}</h3>
        </center>

    {% elif error %}
        <center>
        <h3>{{error}}</h3>
        </center>

    {% else  %}
        <form method="POST">
            {% csrf_token %}
            
                <center>
                    <div class="form-group w-50">
                        <label for="resetpassword1">New Password</label>
                        <input type="password" class="form-control" id="resetpassword1" name="resetpassword1">
                    </div><br>
                </center>

                <center>
                    <div class="form-group w-50">
                        <label for="resetpassword2">Confirm Password</label>
                        <input type="password" class="form-control" id="resetpassword2" name="resetpassword2">
                    </div><br>
                </center>
                
            <center>
            <button type="submit" class="btn btn-primary">Reset Password</button><br>
            </center>
        </form>
    {% endif %}

    {% endblock content %}