    {% extends 'company/base.html'%}
    {% block title %} Change password {% endblock title %}
    {%block content %}

    <center>
        <h1>เข้าสู่ระบบ</h1>
    </center>
    {% if massage %}
        <center>
        <h3>{{massage}}</h3>
        </center>

    {% else  %}
        <form method="POST">
            {% csrf_token %}
            
                <center>
                    <div class="form-group w-50">
                        <label for="username">New Password</label>
                        <input type="password" class="form-control" id="email" name="email">
                    </div><br>
                </center>

                <center>
                    <div class="form-group w-50">
                        <label for="username">Confirm Password</label>
                        <input type="password" class="form-control" id="email" name="email">
                    </div><br>
                </center>
                
            <center>
            <button type="submit" class="btn btn-primary">Reset Password</button><br>
            </center>
        </form>
    {% endif %}

    {% endblock content %}